<%- include('../inc/top', {tieude:"Trang chủ"}) %>

<div class="row">
    <h1> Trang chủ </h1>
    <%  let ht = "abc xyz";
    


    let x = 5; 
    %>
     <%_ %><%=                  ht  %>
    <h2>Nội dung</h2>
   

</div>

<%- include('../inc/bottom') %>